snippet he "say hey then write" 
He,

${1}

${2:All the best} Claas
endsnippet

snippet snip "snipsnap"
--- snip ---

${VISUAL:test}

--- snap ---
endsnippet

snippet mfgc "mfgc" b
Mit freundlichen Grüßen Claas
endsnippet

snippet mfgp "mfgp" b
Mit freundlichen Grüßen Pfaff 
endsnippet

snippet mfgctp "mfgctp" b
Mit freundlichen Grüßen Claas-Thido Pfaff
endsnippet
