snippet ifelse "ifelse" b
if (${1:true}) {
	${2:do}
} else {
	${3:else}	
}
endsnippet

snippet install "install a package" 
install.packages("${VISUAL}")
endsnippet

snippet fixme "Fix me:" b
# fix me (claas): ${1}
endsnippet

snippet lsep "long separator"
# ---------------------------------------o
endsnippet

snippet sep "separator"
# ----------------o
endsnippet

snippet answer "the answer"
# A: 
# Visually: ${1}
# Model: ${2}
# @david: 
endsnippet
